p {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.logo {
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__link {
  padding: 0 13px;
}
.menu__link:last-child {
  padding-right: 0;
}
